rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    function isBethaUser() {
      return request.auth != null
        && request.auth.token.email.matches('.*@betha[.]com[.]br$');
    }

    match /municipios/{id} {
      allow read, write: if isBethaUser();
    }

    match /status_operacional_atual/{id} {
      allow read, write: if isBethaUser();
    }

    match /snapshots_diarios/{id} {
      allow read, write: if isBethaUser();
    }
  }
}
