rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    function isBethaUser() {
      return request.auth != null
        && request.auth.token.email.matches('.*@betha[.]com[.]br$');
    }

    match /{document=**} {
      allow read, write: if isBethaUser();
    }
  }
}
